@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("../fonts/fonts.css");
* {
  box-sizing: border-box;
  font-family: "Muller"; }

.wrapper {
  overflow: hidden;
  min-height: 2000px; }

.price-link-block {
  width: 280px;
  height: 72px;
  border: 1px solid #ffc6da;
  border-radius: 53px;
  padding: 7px; }
  .price-link-block .price-link {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    line-height: 100%;
    height: 56px;
    text-decoration: none;
    color: white;
    background: linear-gradient(276.82deg, #ff0000 -10.3%, #ff2272 75.13%);
    box-shadow: 0px 0px 15px rgba(255, 34, 114, 0.3);
    border-radius: 47px; }

.section__header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 86px;
  background: white;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid #ebebeb; }
  @media (max-width: 576px) {
    .section__header {
      height: 60px; } }
  .section__header .navbar-brand {
    padding-left: 60px;
    font-size: 14px;
    line-height: 100%; }
    @media (max-width: 1600px) {
      .section__header .navbar-brand {
        padding-left: 30px; } }
    @media (max-width: 576px) {
      .section__header .navbar-brand {
        padding-left: 10px; }
        .section__header .navbar-brand img {
          width: 103.82px;
          height: 30.02px; }
        .section__header .navbar-brand span {
          font-size: 10px;
          line-height: 100%; } }
    .section__header .navbar-brand span {
      color: #0170b0;
      padding-left: 20px; }
      @media (max-width: 786px) {
        .section__header .navbar-brand span {
          padding-left: 12px; } }
  .section__header .collapse.show {
    left: 0; }
  .section__header .navbar-menu {
    width: 843px;
    justify-content: space-between; }
    @media (max-width: 1300px) {
      .section__header .navbar-menu {
        width: calc(100% + 20px);
        height: 100vh;
        max-height: 800px;
        padding-left: 27px;
        justify-content: flex-start;
        left: 110vw;
        transition: all 1s ease 0s;
        padding-top: 25px;
        position: absolute;
        top: 86px;
        flex-direction: column;
        align-items: flex-start;
        background: url(../images/bg-nav.png) no-repeat 100% 80% white; }
        .section__header .navbar-menu a {
          margin-bottom: 20px; }
        .section__header .navbar-menu a:nth-last-child(2),
        .section__header .navbar-menu a:last-child {
          margin-bottom: 34px; } }
    @media (max-width: 576px) {
      .section__header .navbar-menu {
        padding-left: 17px;
        top: 60px; } }
    .section__header .navbar-menu a {
      font-size: 16px;
      line-height: 100%;
      color: #a0a0a0;
      text-decoration: none;
      padding-bottom: 6px; }
    .section__header .navbar-menu a:hover {
      border-bottom: 1px solid #0170b0; }
    .section__header .navbar-menu a.active {
      border-bottom: 1px solid #0170b0; }
  .section__header .toggler-nav {
    padding-right: 18px;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer; }
    @media (min-width: 1300px) {
      .section__header .toggler-nav {
        display: none; } }
    .section__header .toggler-nav div:nth-child(1) {
      width: 40px;
      height: 5px;
      background: #18bbeb; }
    .section__header .toggler-nav div:nth-child(2) {
      width: 25px;
      height: 5px;
      background: #18bbeb; }
    .section__header .toggler-nav div:nth-child(3) {
      width: 15px;
      height: 5px;
      background: #18bbeb; }
    @media (max-width: 576px) {
      .section__header .toggler-nav {
        padding-right: 10px;
        height: 18px; }
        .section__header .toggler-nav div:nth-child(1) {
          width: 25px;
          height: 3px; }
        .section__header .toggler-nav div:nth-child(2) {
          width: 17px;
          height: 3px; }
        .section__header .toggler-nav div:nth-child(3) {
          width: 10px;
          height: 3px; } }
  @media (min-width: 1300px) {
    .section__header .mobile-call-link {
      display: none !important; } }
  .section__header .desktop-call-link {
    padding-right: 60px; }
    @media (max-width: 1600px) {
      .section__header .desktop-call-link {
        padding-right: 15px; } }
    @media (max-width: 1300px) {
      .section__header .desktop-call-link {
        display: none !important; } }
    @media (max-width: 576px) {
      .section__header .desktop-call-link {
        padding-right: 10px; } }
    @media (max-width: 1570px) {
      .section__header .desktop-call-link div > div:first-child {
        display: none !important; } }
    @media (max-width: 1570px) {
      .section__header .desktop-call-link div > div:nth-child(2) {
        display: none !important; } }
  .section__header .call-link {
    text-decoration: none; }
    .section__header .call-link img {
      margin-right: 5px;
      margin-left: 10px; }
    .section__header .call-link div > div:first-child {
      font-weight: bold;
      font-size: 23.8235px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      color: #0170b0;
      margin-bottom: 5px; }
    .section__header .call-link div > div:nth-child(2) {
      font-size: 15.8824px;
      line-height: 100%;
      color: #0170b0;
      border-bottom: 1px solid #0170b0;
      margin-left: 6px; }
  @media (min-width: 1300px) {
    .section__header .socials {
      display: none !important; } }
  .section__header .socials .social {
    margin-right: 20px; }

.section__health {
  position: relative;
  padding-top: 25px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fbfbfb 100%); }
  @media (max-width: 576px) {
    .section__health {
      padding-top: 21px; } }
  .section__health .health-second-block {
    padding-top: 58px; }
    .section__health .health-second-block .main-text {
      font-size: 55px;
      line-height: 100%;
      color: #29292b;
      margin-bottom: 5px;
      padding-left: 10px; }
      @media (max-width: 576px) {
        .section__health .health-second-block .main-text {
          font-size: 30px; } }
    .section__health .health-second-block .pain-text {
      color: #18bbeb; }
    .section__health .health-second-block .fixed-price {
      display: block;
      margin-bottom: 77px;
      font-size: 18px;
      line-height: 120%;
      color: #a0a0a0;
      padding-left: 10px; }
      @media (max-width: 1200px) {
        .section__health .health-second-block .fixed-price {
          margin-bottom: 20px; } }
    .section__health .health-second-block .plan-text {
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 24px;
      line-height: 100%;
      color: #0170b0;
      border-left: 3px solid #18bbeb;
      padding-left: 10px; }
      .section__health .health-second-block .plan-text span {
        color: #18bbeb; }

.section__before-after {
  padding-top: 45px;
  margin-bottom: 25px; }
  .section__before-after h2 {
    font-size: 48px;
    line-height: 100%;
    color: #29292b; }
    .section__before-after h2 span {
      color: #18bbeb; }
    @media (max-width: 576px) {
      .section__before-after h2 {
        font-size: 24px;
        font-weight: normal; } }
  .section__before-after .complex-health-text {
    font-size: 22px;
    line-height: 120%;
    display: flex;
    color: #a0a0a0;
    margin-bottom: 25px; }
    @media (max-width: 576px) {
      .section__before-after .complex-health-text {
        font-size: 12px;
        margin-bottom: 12px; } }
  .section__before-after .cocoen-wrap {
    max-width: 708.25px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .section__before-after .cocoen-wrap .cocoen {
      width: 100%;
      margin-bottom: 20px; }
      @media (max-width: 576px) {
        .section__before-after .cocoen-wrap .cocoen {
          height: 163px; } }
      .section__before-after .cocoen-wrap .cocoen img:first-child {
        width: 50%; }
      .section__before-after .cocoen-wrap .cocoen .cocoen-drag::before {
        content: url(../images/courser-slider.svg);
        margin-left: -45px;
        margin-top: -73px;
        border: none; }
      .section__before-after .cocoen-wrap .cocoen .cocoen-drag::after {
        content: url(../images/inner-courser.svg);
        margin-left: -15px;
        margin-top: 6px;
        left: 50%;
        position: absolute;
        top: 50%; }
    @media (max-width: 576px) {
      .section__before-after .cocoen-wrap .helper-cocoen {
        align-self: center; } }
    .section__before-after .cocoen-wrap .helper-cocoen img {
      margin-right: 15px;
      width: 14.1px;
      height: 21.24px; }
      @media (max-width: 576px) {
        .section__before-after .cocoen-wrap .helper-cocoen img {
          width: 14.1px;
          height: 21.24px; } }
    .section__before-after .cocoen-wrap .helper-cocoen h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      color: #29292b; }
      .section__before-after .cocoen-wrap .helper-cocoen h4 span {
        color: #18bbeb; }
      @media (max-width: 786px) {
        .section__before-after .cocoen-wrap .helper-cocoen h4 {
          font-size: 15px; } }
      @media (max-width: 576px) {
        .section__before-after .cocoen-wrap .helper-cocoen h4 {
          font-size: 10px; } }

.section__service {
  padding-top: 30px;
  background-image: url(../images/bg-service.png);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 692px;
  padding-bottom: 25px; }
  .section__service h2 {
    font-size: 48px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 25px; }
    @media (max-width: 576px) {
      .section__service h2 {
        font-size: 24px;
        font-weight: normal; } }
  .section__service .services .col-10 {
    margin-bottom: 5px; }
  .section__service .item:nth-child(-n + 3) {
    margin-bottom: 50px; }
  .section__service .item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section__service .item .img-prew {
      width: 100px;
      height: 100px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px; }
      @media (max-width: 320px) {
        .section__service .item .img-prew {
          width: 73px;
          height: 73px; } }
    .section__service .item .service-main-text {
      font-size: 24px;
      line-height: 120%;
      color: #ffffff;
      text-align: center;
      margin-bottom: 5px; }
      @media (max-width: 786px) {
        .section__service .item .service-main-text {
          font-size: 20px; } }
      @media (max-width: 576px) {
        .section__service .item .service-main-text {
          font-size: 15px; } }
    .section__service .item .service-not-main-text {
      font-size: 14px;
      line-height: 120%;
      color: #aae8ff;
      text-align: center; }
      @media (max-width: 786px) {
        .section__service .item .service-not-main-text {
          font-size: 12px; } }
      @media (max-width: 576px) {
        .section__service .item .service-not-main-text {
          font-size: 8px; } }

.section__problems {
  padding-top: 39px; }
  @media (max-width: 786px) {
    .section__problems {
      padding-top: 0; } }
  .section__problems h2 {
    font-size: 48px;
    line-height: 100%;
    text-align: center; }
    .section__problems h2 span {
      color: #18bbeb; }
    @media (max-width: 576px) {
      .section__problems h2 {
        font-size: 24px;
        padding-left: 42px; } }
  .section__problems h5 {
    font-size: 22px;
    line-height: 155%;
    color: #a0a0a0; }
    .section__problems h5 span {
      color: #18bbeb; }
    @media (max-width: 576px) {
      .section__problems h5 {
        font-size: 12px;
        padding-left: 42px; } }
  .section__problems .row {
    padding-top: 25px; }
    @media (max-width: 576px) {
      .section__problems .row {
        margin: 0;
        padding-top: 2px; } }
  .section__problems .consultation {
    padding-top: 27px;
    min-width: 240px;
    max-width: 367px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 576px) {
      .section__problems .consultation {
        padding: 0 43px; } }
    .section__problems .consultation h6 {
      font-size: 24px;
      line-height: 150%;
      color: #29292b; }
      @media (max-width: 576px) {
        .section__problems .consultation h6 {
          font-size: 16px; } }
    .section__problems .consultation .diagnos-text {
      font-size: 14px;
      line-height: 150%;
      color: #a0a0a0;
      margin-bottom: 20px; }
      @media (max-width: 576px) {
        .section__problems .consultation .diagnos-text {
          font-size: 10px; } }
    .section__problems .consultation input {
      font-size: 18px;
      line-height: 150%;
      color: #a3a3a3;
      border: none;
      border-bottom: 0.5px solid #a0a0a0;
      margin-bottom: 30px; }
      @media (max-width: 576px) {
        .section__problems .consultation input {
          font-size: 12px;
          width: 225px; } }
    .section__problems .consultation .problem-link {
      margin-bottom: 46px; }
      @media (max-width: 576px) {
        .section__problems .consultation .problem-link {
          width: 178px;
          height: 45px;
          padding: 4px;
          margin-bottom: 15px; }
          .section__problems .consultation .problem-link .price-link {
            width: 169px;
            height: 36px; } }
    .section__problems .consultation .doctor img {
      padding-top: 2px;
      margin-right: 13px; }
      @media (max-width: 576px) {
        .section__problems .consultation .doctor img {
          width: 20px;
          height: 22px; } }
    .section__problems .consultation .doctor .doctor-text {
      font-size: 14px; }
      @media (max-width: 576px) {
        .section__problems .consultation .doctor .doctor-text {
          font-size: 8px; } }
      .section__problems .consultation .doctor .doctor-text span {
        color: #18bbeb;
        font-size: 18px; }
        @media (max-width: 576px) {
          .section__problems .consultation .doctor .doctor-text span {
            font-size: 10px; } }
    .section__problems .consultation .address img {
      padding-top: 2px;
      margin-right: 13px; }
      @media (max-width: 576px) {
        .section__problems .consultation .address img {
          width: 20px;
          height: 22px; } }
    .section__problems .consultation .address .address-text {
      font-size: 14px; }
      @media (max-width: 576px) {
        .section__problems .consultation .address .address-text {
          font-size: 8px; } }
      .section__problems .consultation .address .address-text span {
        color: #18bbeb;
        font-size: 18px; }
        @media (max-width: 576px) {
          .section__problems .consultation .address .address-text span {
            font-size: 10px; } }

.section__advantages h2 {
  font-size: 48px;
  line-height: 120%;
  color: #29292b; }
  .section__advantages h2 span {
    color: #18bbeb; }
