@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("../fonts/fonts.css");
* {
  box-sizing: border-box;
  font-family: "Muller"; }

.wrapper {
  min-height: 2000px; }

.section__header {
  padding: 0 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 86px;
  background: white;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid #ebebeb; }
  @media (max-width: 1600px) {
    .section__header {
      padding: 0 15px 0 30px; } }
  @media (max-width: 576px) {
    .section__header {
      padding: 0 10px;
      height: 60px; } }
  .section__header .navbar-brand {
    font-size: 14px;
    line-height: 100%; }
    @media (max-width: 576px) {
      .section__header .navbar-brand img {
        width: 103.82px;
        height: 30.02px; }
      .section__header .navbar-brand span {
        font-size: 10px;
        line-height: 100%; } }
    .section__header .navbar-brand span {
      color: #0170b0;
      padding-left: 20px; }
      @media (max-width: 786px) {
        .section__header .navbar-brand span {
          padding-left: 12px; } }
  .section__header .collapse.show {
    left: 0; }
  .section__header .navbar-menu {
    width: 843px;
    justify-content: space-between; }
    @media (max-width: 1300px) {
      .section__header .navbar-menu {
        width: calc(100% + 20px);
        height: 100vh;
        max-height: 800px;
        justify-content: flex-start;
        left: 110vw;
        transition: all 1s ease 0s;
        padding-top: 25px;
        position: absolute;
        top: 86px;
        flex-direction: column;
        align-items: flex-start;
        background: url(../images/bg-nav.png) no-repeat 100% 80% white; }
        .section__header .navbar-menu a {
          margin-bottom: 20px; }
        .section__header .navbar-menu a:nth-last-child(2),
        .section__header .navbar-menu a:last-child {
          margin-bottom: 34px; } }
    @media (max-width: 576px) {
      .section__header .navbar-menu {
        padding-left: 17px;
        top: 60px; } }
    .section__header .navbar-menu a {
      font-size: 16px;
      line-height: 100%;
      color: #a0a0a0;
      text-decoration: none;
      padding-bottom: 6px; }
    .section__header .navbar-menu a:hover {
      border-bottom: 1px solid #0170b0; }
    .section__header .navbar-menu a.active {
      border-bottom: 1px solid #0170b0; }
  .section__header .toggler-nav {
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer; }
    @media (min-width: 1300px) {
      .section__header .toggler-nav {
        display: none; } }
    .section__header .toggler-nav div:nth-child(1) {
      width: 40px;
      height: 5px;
      background: #18bbeb; }
    .section__header .toggler-nav div:nth-child(2) {
      width: 25px;
      height: 5px;
      background: #18bbeb; }
    .section__header .toggler-nav div:nth-child(3) {
      width: 15px;
      height: 5px;
      background: #18bbeb; }
    @media (max-width: 576px) {
      .section__header .toggler-nav {
        height: 18px; }
        .section__header .toggler-nav div:nth-child(1) {
          width: 25px;
          height: 3px; }
        .section__header .toggler-nav div:nth-child(2) {
          width: 17px;
          height: 3px; }
        .section__header .toggler-nav div:nth-child(3) {
          width: 10px;
          height: 3px; } }
  @media (min-width: 1300px) {
    .section__header .mobile-call-link {
      display: none !important; } }
  @media (max-width: 1300px) {
    .section__header .desktop-call-link {
      display: none !important; } }
  @media (max-width: 1570px) {
    .section__header .desktop-call-link div > div:first-child {
      display: none !important; } }
  @media (max-width: 1570px) {
    .section__header .desktop-call-link div > div:nth-child(2) {
      display: none !important; } }
  .section__header .call-link {
    text-decoration: none; }
    .section__header .call-link img {
      margin-right: 5px;
      margin-left: 10px; }
    .section__header .call-link div > div:first-child {
      font-weight: bold;
      font-size: 23.8235px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      color: #0170b0;
      margin-bottom: 5px; }
    .section__header .call-link div > div:nth-child(2) {
      font-size: 15.8824px;
      line-height: 100%;
      color: #0170b0;
      border-bottom: 1px solid #0170b0;
      margin-left: 6px; }
  @media (min-width: 1300px) {
    .section__header .socials {
      display: none !important; } }
  .section__header .socials .social {
    margin-right: 20px; }

.section__health {
  position: relative;
  padding-top: 25px;
  min-height: 636px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fbfbfb 100%); }
  @media (max-width: 576px) {
    .section__health {
      padding-top: 21px; } }
  .section__health .health-second-block {
    padding-top: 58px; }
    .section__health .health-second-block .main-text {
      font-size: 55px;
      line-height: 100%;
      color: #29292b;
      margin-bottom: 5px;
      padding-left: 10px; }
      @media (max-width: 576px) {
        .section__health .health-second-block .main-text {
          font-size: 30px; } }
    .section__health .health-second-block .pain-text {
      color: #18bbeb; }
    .section__health .health-second-block .fixed-price {
      display: block;
      margin-bottom: 77px;
      font-size: 18px;
      line-height: 120%;
      color: #a0a0a0;
      padding-left: 10px; }
      @media (max-width: 1200px) {
        .section__health .health-second-block .fixed-price {
          margin-bottom: 20px; } }
    .section__health .health-second-block .plan-text {
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 24px;
      line-height: 100%;
      color: #0170b0;
      border-left: 3px solid #18bbeb;
      padding-left: 10px; }
      .section__health .health-second-block .plan-text span {
        color: #18bbeb; }
    .section__health .health-second-block .price-link-block {
      width: 280px;
      height: 72px;
      border: 1px solid #ffc6da;
      border-radius: 53px;
      padding: 7px; }
      .section__health .health-second-block .price-link-block .price-link {
        font-weight: bold;
        font-size: 18px;
        display: flex;
        padding: 19px 43px;
        line-height: 100%;
        height: 56px;
        text-decoration: none;
        color: white;
        background: linear-gradient(276.82deg, #ff0000 -10.3%, #ff2272 75.13%);
        box-shadow: 0px 0px 15px rgba(255, 34, 114, 0.3);
        border-radius: 47px; }

.section__before-after {
  padding-top: 45px; }
  .section__before-after .cocoen-wrap {
    width: 708.25px;
    height: 384px; }
    .section__before-after .cocoen-wrap .cocoen {
      width: 100%; }
      .section__before-after .cocoen-wrap .cocoen img:first-child {
        width: 50%; }
      .section__before-after .cocoen-wrap .cocoen .cocoen-drag::before {
        content: url(../images/courser-slider.svg);
        margin-left: -45px;
        margin-top: -73px;
        border: none; }
      .section__before-after .cocoen-wrap .cocoen .cocoen-drag::after {
        content: url(../images/inner-courser.svg);
        margin-left: -15px;
        margin-top: 6px;
        left: 50%;
        position: absolute;
        top: 50%; }
