@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto";
}
.section {
  &__header {
    height: 86px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    border-bottom: 1px solid #ebebeb;
    .navbar-brand {
      font-size: 14px;
      line-height: 100%;
      span {
        color: #0170b0;
        padding-left: 20px;
        @media (max-width: 786px) {
          padding-left: 12px;
        }
      }
    }
    .navbar-menu {
      a {
        font-size: 16px;
        line-height: 100%;
        color: #a0a0a0;
        text-decoration: none;
        padding-bottom: 11px;
      }
      a.active {
        border-bottom: 1px solid #0170b0;
      }
    }
  }
}
