@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto"; }

.section__header {
  padding: 0 60px;
  height: 86px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(7px);
  border-bottom: 1px solid #ebebeb; }
  .section__header .navbar-brand {
    font-size: 14px;
    line-height: 100%; }
    .section__header .navbar-brand span {
      color: #0170b0;
      padding-left: 20px; }
      @media (max-width: 786px) {
        .section__header .navbar-brand span {
          padding-left: 12px; } }
  .section__header .navbar-menu {
    max-width: 843px; }
    .section__header .navbar-menu a {
      font-size: 16px;
      line-height: 100%;
      color: #a0a0a0;
      text-decoration: none;
      padding-bottom: 6px; }
    .section__header .navbar-menu a.active {
      border-bottom: 1px solid #0170b0; }
  .section__header .call-link {
    text-decoration: none; }
    .section__header .call-link img {
      margin-right: 5px; }
    .section__header .call-link div > div:first-child {
      font-weight: bold;
      font-size: 23.8235px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      color: #0170b0;
      margin-bottom: 5px; }
    .section__header .call-link div > div:nth-child(2) {
      font-size: 15.8824px;
      line-height: 100%;
      color: #0170b0;
      border-bottom: 1px solid #0170b0;
      margin-left: 6px; }
