@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto";
}
.wrapper {
  overflow: hidden;
  min-height: 2000px;
}
.section {
  &__header {
    padding: 0 60px;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    height: 86px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    border-bottom: 1px solid #ebebeb;
    @media (max-width: 1600px) {
      padding: 0 15px 0 30px;
    }
    @media (max-width: 576px) {
      padding: 0 10px;
      height: 60px;
    }
    .navbar-brand {
      font-size: 14px;
      line-height: 100%;
      @media (max-width: 576px) {
        img {
          width: 103.82px;
          height: 30.02px;
        }
        span {
          font-size: 10px;
          line-height: 100%;
        }
      }
      span {
        color: #0170b0;
        padding-left: 20px;
        @media (max-width: 786px) {
          padding-left: 12px;
        }
      }
    }
    .collapse.show {
      left: 0;
    }
    .navbar-menu {
      width: 843px;
      @media (max-width: 1300px) {
        left: 110vw;
        transition: all 1s ease 0s;
        padding-top: 25px;
        position: absolute;
        top: 86px;
        flex-direction: column;
        align-items: flex-start;
        background: white;
        width: 100%;
        a {
          margin-bottom: 20px;
        }
        a:nth-last-child(2),
        a:last-child {
          margin-bottom: 34px;
        }
      }
      @media (max-width: 576px) {
        padding-left: 17px;
        top: 60px;
      }
      a {
        font-size: 16px;
        line-height: 100%;
        color: #a0a0a0;
        text-decoration: none;
        padding-bottom: 6px;
      }
      a:hover {
        border-bottom: 1px solid #0170b0;
      }
      a.active {
        border-bottom: 1px solid #0170b0;
      }
    }
    .toggler-nav {
      display: flex;
      height: 30px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      cursor: pointer;
      @media (min-width: 1300px) {
        display: none;
      }
      div:nth-child(1) {
        width: 40px;
        height: 5px;
        background: #18bbeb;
      }
      div:nth-child(2) {
        width: 25px;
        height: 5px;
        background: #18bbeb;
      }
      div:nth-child(3) {
        width: 15px;
        height: 5px;
        background: #18bbeb;
      }
    }
    .mobile-call-link {
      @media (min-width: 1300px) {
        display: none !important;
      }
    }
    .desktop-call-link {
      @media (max-width: 1300px) {
        display: none !important;
      }
      div > div:first-child {
        @media (max-width: 1570px) {
          display: none !important;
        }
      }
      div > div:nth-child(2) {
        @media (max-width: 1570px) {
          display: none !important;
        }
      }
    }
    .call-link {
      text-decoration: none;
      img {
        margin-right: 5px;
        margin-left: 10px;
      }
      div > div:first-child {
        font-weight: bold;
        font-size: 23.8235px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: right;
        color: #0170b0;
        margin-bottom: 5px;
      }
      div > div:nth-child(2) {
        font-size: 15.8824px;
        line-height: 100%;
        color: #0170b0;
        border-bottom: 1px solid #0170b0;
        margin-left: 6px;
      }
    }
    .socials {
      @media (min-width: 1300px) {
        display: none !important;
      }
      .social {
        margin-right: 20px;
      }
    }
  }
  &__without-pain {
    position: relative;
    top: 86px;
  }
}
