@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("../fonts/fonts.css");
* {
  box-sizing: border-box;
  font-family: "Muller"; }

@media (max-width: 576px) {
  body::-webkit-scrollbar {
    width: 0; } }

.place-card {
  display: none; }

.text-blue {
  color: #18bbeb; }

.wrapper {
  overflow: hidden;
  min-height: 2000px; }

.price-link-block {
  width: 280px;
  height: 72px;
  border: 1px solid #ffc6da;
  border-radius: 53px;
  padding: 7px; }
  .price-link-block .price-link {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    line-height: 100%;
    height: 56px;
    text-decoration: none;
    color: white;
    background: linear-gradient(276.82deg, #ff0000 -10.3%, #ff2272 75.13%);
    box-shadow: 0px 0px 15px rgba(255, 34, 114, 0.3);
    border-radius: 47px; }

.custom-container {
  width: 1170px; }
  @media (max-width: 1200px) {
    .custom-container {
      width: 100%; } }

.section__header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 86px;
  background: white;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid #ebebeb; }
  @media (max-width: 576px) {
    .section__header {
      height: 60px; } }
  .section__header .navbar-brand {
    padding-left: 60px;
    font-size: 14px;
    line-height: 100%; }
    @media (max-width: 1600px) {
      .section__header .navbar-brand {
        padding-left: 30px; } }
    @media (max-width: 576px) {
      .section__header .navbar-brand {
        padding-left: 10px; }
        .section__header .navbar-brand img {
          width: 103.82px;
          height: 30.02px; }
        .section__header .navbar-brand span {
          font-size: 10px;
          line-height: 100%; } }
    .section__header .navbar-brand span {
      color: #0170b0;
      padding-left: 20px; }
      @media (max-width: 786px) {
        .section__header .navbar-brand span {
          padding-left: 12px; } }
  .section__header .collapse.show {
    left: 0; }
  .section__header .navbar-menu {
    width: 843px;
    justify-content: space-between; }
    @media (max-width: 1300px) {
      .section__header .navbar-menu {
        width: calc(100% + 20px);
        padding-left: 27px;
        justify-content: flex-start;
        left: 110vw;
        transition: all 1s ease 0s;
        padding-top: 25px;
        position: absolute;
        top: 86px;
        flex-direction: column;
        align-items: flex-start;
        background: url(../images/bg-nav.png) no-repeat 100% 80% white; }
        .section__header .navbar-menu a {
          margin-bottom: 20px; }
        .section__header .navbar-menu a:nth-last-child(2),
        .section__header .navbar-menu a:last-child {
          margin-bottom: 34px; } }
    @media (max-width: 576px) {
      .section__header .navbar-menu {
        padding-left: 17px;
        top: 60px; } }
    .section__header .navbar-menu a {
      font-size: 16px;
      line-height: 100%;
      color: #a0a0a0;
      text-decoration: none;
      padding-bottom: 6px; }
    .section__header .navbar-menu a:hover {
      border-bottom: 1px solid #0170b0; }
    .section__header .navbar-menu a.active {
      border-bottom: 1px solid #0170b0; }
  .section__header .toggler-nav {
    padding-right: 18px;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer; }
    @media (min-width: 1300px) {
      .section__header .toggler-nav {
        display: none; } }
    .section__header .toggler-nav div:nth-child(1) {
      width: 40px;
      height: 5px;
      background: #18bbeb; }
    .section__header .toggler-nav div:nth-child(2) {
      width: 25px;
      height: 5px;
      background: #18bbeb; }
    .section__header .toggler-nav div:nth-child(3) {
      width: 15px;
      height: 5px;
      background: #18bbeb; }
    @media (max-width: 576px) {
      .section__header .toggler-nav {
        padding-right: 10px;
        height: 18px; }
        .section__header .toggler-nav div:nth-child(1) {
          width: 25px;
          height: 3px; }
        .section__header .toggler-nav div:nth-child(2) {
          width: 17px;
          height: 3px; }
        .section__header .toggler-nav div:nth-child(3) {
          width: 10px;
          height: 3px; } }
  @media (min-width: 1300px) {
    .section__header .mobile-call-link {
      display: none !important; } }
  .section__header .desktop-call-link {
    padding-right: 60px; }
    @media (max-width: 1600px) {
      .section__header .desktop-call-link {
        padding-right: 15px; } }
    @media (max-width: 1300px) {
      .section__header .desktop-call-link {
        display: none !important; } }
    @media (max-width: 576px) {
      .section__header .desktop-call-link {
        padding-right: 10px; } }
    @media (max-width: 1570px) {
      .section__header .desktop-call-link div > div:first-child {
        display: none !important; } }
    @media (max-width: 1570px) {
      .section__header .desktop-call-link div > div:nth-child(2) {
        display: none !important; } }
  .section__header .call-link {
    text-decoration: none; }
    .section__header .call-link img {
      margin-right: 5px;
      margin-left: 10px; }
    .section__header .call-link div > div:first-child {
      font-weight: bold;
      font-size: 23.8235px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      color: #0170b0;
      margin-bottom: 5px; }
    .section__header .call-link div > div:nth-child(2) {
      font-size: 15.8824px;
      line-height: 100%;
      color: #0170b0;
      border-bottom: 1px solid #0170b0;
      margin-left: 6px; }
  @media (min-width: 1300px) {
    .section__header .socials {
      display: none !important; } }
  .section__header .socials .social {
    margin-right: 20px; }

.section__health {
  position: relative;
  padding-top: 25px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fbfbfb 100%); }
  @media (max-width: 576px) {
    .section__health {
      padding-top: 21px; } }
  .section__health .health-second-block {
    padding-top: 58px; }
    .section__health .health-second-block .main-text {
      font-size: 55px;
      line-height: 100%;
      color: #29292b;
      margin-bottom: 5px;
      padding-left: 10px; }
      @media (max-width: 576px) {
        .section__health .health-second-block .main-text {
          font-size: 30px; } }
    .section__health .health-second-block .pain-text {
      color: #18bbeb; }
    .section__health .health-second-block .fixed-price {
      display: block;
      margin-bottom: 77px;
      font-size: 18px;
      line-height: 120%;
      color: #a0a0a0;
      padding-left: 10px; }
      @media (max-width: 1200px) {
        .section__health .health-second-block .fixed-price {
          margin-bottom: 20px; } }
    .section__health .health-second-block .plan-text {
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 24px;
      line-height: 100%;
      color: #0170b0;
      border-left: 3px solid #18bbeb;
      padding-left: 10px; }
      .section__health .health-second-block .plan-text span {
        color: #18bbeb; }

.section__before-after {
  padding-top: 45px;
  margin-bottom: 25px; }
  .section__before-after h2 {
    font-size: 48px;
    line-height: 100%;
    color: #29292b; }
    .section__before-after h2 span {
      color: #18bbeb; }
    @media (max-width: 576px) {
      .section__before-after h2 {
        font-size: 24px;
        font-weight: normal; } }
  .section__before-after .complex-health-text {
    font-size: 22px;
    line-height: 120%;
    display: flex;
    color: #a0a0a0;
    margin-bottom: 25px; }
    @media (max-width: 576px) {
      .section__before-after .complex-health-text {
        font-size: 12px;
        margin-bottom: 12px; } }
  .section__before-after .cocoen-wrap {
    max-width: 708.25px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .section__before-after .cocoen-wrap .cocoen {
      width: 100%;
      margin-bottom: 20px; }
      @media (max-width: 576px) {
        .section__before-after .cocoen-wrap .cocoen {
          height: 163px; } }
      .section__before-after .cocoen-wrap .cocoen img:first-child {
        width: 50%; }
      .section__before-after .cocoen-wrap .cocoen .cocoen-drag::before {
        content: url(../images/courser-slider.svg);
        margin-left: -45px;
        margin-top: -73px;
        border: none; }
      .section__before-after .cocoen-wrap .cocoen .cocoen-drag::after {
        content: url(../images/inner-courser.svg);
        margin-left: -15px;
        margin-top: 6px;
        left: 50%;
        position: absolute;
        top: 50%; }
    @media (max-width: 576px) {
      .section__before-after .cocoen-wrap .helper-cocoen {
        align-self: center; } }
    .section__before-after .cocoen-wrap .helper-cocoen img {
      margin-right: 15px;
      width: 14.1px;
      height: 21.24px; }
      @media (max-width: 576px) {
        .section__before-after .cocoen-wrap .helper-cocoen img {
          width: 14.1px;
          height: 21.24px; } }
    .section__before-after .cocoen-wrap .helper-cocoen h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      color: #29292b; }
      .section__before-after .cocoen-wrap .helper-cocoen h4 span {
        color: #18bbeb; }
      @media (max-width: 786px) {
        .section__before-after .cocoen-wrap .helper-cocoen h4 {
          font-size: 15px; } }
      @media (max-width: 576px) {
        .section__before-after .cocoen-wrap .helper-cocoen h4 {
          font-size: 10px; } }

.section__service {
  padding-top: 30px;
  background-image: url(../images/bg-service.png);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 692px;
  padding-bottom: 25px; }
  .section__service h2 {
    font-size: 48px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 25px; }
    @media (max-width: 576px) {
      .section__service h2 {
        font-size: 24px;
        font-weight: normal; } }
  .section__service .services .col-10 {
    margin-bottom: 5px; }
  .section__service .item:nth-child(-n + 3) {
    margin-bottom: 50px; }
  .section__service .item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section__service .item .img-prew {
      width: 100px;
      height: 100px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px; }
      @media (max-width: 320px) {
        .section__service .item .img-prew {
          width: 73px;
          height: 73px; } }
    .section__service .item .service-main-text {
      font-size: 24px;
      line-height: 120%;
      color: #ffffff;
      text-align: center;
      margin-bottom: 5px; }
      @media (max-width: 786px) {
        .section__service .item .service-main-text {
          font-size: 20px; } }
      @media (max-width: 576px) {
        .section__service .item .service-main-text {
          font-size: 15px; } }
    .section__service .item .service-not-main-text {
      font-size: 14px;
      line-height: 120%;
      color: #aae8ff;
      text-align: center; }
      @media (max-width: 786px) {
        .section__service .item .service-not-main-text {
          font-size: 12px; } }
      @media (max-width: 576px) {
        .section__service .item .service-not-main-text {
          font-size: 8px; } }

.section__problems {
  padding-top: 39px; }
  @media (max-width: 786px) {
    .section__problems {
      padding-top: 0; } }
  .section__problems h2 {
    font-size: 48px;
    line-height: 100%;
    text-align: center; }
    .section__problems h2 span {
      color: #18bbeb; }
    @media (max-width: 576px) {
      .section__problems h2 {
        font-size: 24px;
        padding-left: 42px; } }
  .section__problems h5 {
    font-size: 22px;
    line-height: 155%;
    color: #a0a0a0; }
    .section__problems h5 span {
      color: #18bbeb; }
    @media (max-width: 576px) {
      .section__problems h5 {
        font-size: 12px;
        padding-left: 42px; } }
  .section__problems .row {
    padding-top: 25px; }
    @media (max-width: 576px) {
      .section__problems .row {
        margin: 0;
        padding-top: 2px; } }
  .section__problems .consultation {
    padding-top: 27px;
    min-width: 240px;
    max-width: 367px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 576px) {
      .section__problems .consultation {
        padding: 0 43px; } }
    .section__problems .consultation h6 {
      font-size: 24px;
      line-height: 150%;
      color: #29292b; }
      @media (max-width: 576px) {
        .section__problems .consultation h6 {
          font-size: 16px; } }
    .section__problems .consultation .diagnos-text {
      font-size: 14px;
      line-height: 150%;
      color: #a0a0a0;
      margin-bottom: 20px; }
      @media (max-width: 576px) {
        .section__problems .consultation .diagnos-text {
          font-size: 10px; } }
    .section__problems .consultation input {
      font-size: 18px;
      line-height: 150%;
      color: #a3a3a3;
      border: none;
      border-bottom: 0.5px solid #a0a0a0;
      margin-bottom: 30px; }
      @media (max-width: 576px) {
        .section__problems .consultation input {
          font-size: 12px;
          width: 225px; } }
    .section__problems .consultation .problem-link {
      margin-bottom: 46px; }
      @media (max-width: 576px) {
        .section__problems .consultation .problem-link {
          width: 178px;
          height: 45px;
          padding: 4px;
          margin-bottom: 15px; }
          .section__problems .consultation .problem-link .price-link {
            width: 169px;
            height: 36px; } }
    .section__problems .consultation .doctor img {
      padding-top: 2px;
      margin-right: 13px; }
      @media (max-width: 576px) {
        .section__problems .consultation .doctor img {
          width: 20px;
          height: 22px; } }
    .section__problems .consultation .doctor .doctor-text {
      font-size: 14px; }
      @media (max-width: 576px) {
        .section__problems .consultation .doctor .doctor-text {
          font-size: 8px; } }
      .section__problems .consultation .doctor .doctor-text span {
        color: #18bbeb;
        font-size: 18px; }
        @media (max-width: 576px) {
          .section__problems .consultation .doctor .doctor-text span {
            font-size: 10px; } }
    .section__problems .consultation .address img {
      padding-top: 2px;
      margin-right: 13px; }
      @media (max-width: 576px) {
        .section__problems .consultation .address img {
          width: 20px;
          height: 22px; } }
    .section__problems .consultation .address .address-text {
      font-size: 14px; }
      @media (max-width: 576px) {
        .section__problems .consultation .address .address-text {
          font-size: 8px; } }
      .section__problems .consultation .address .address-text span {
        color: #18bbeb;
        font-size: 18px; }
        @media (max-width: 576px) {
          .section__problems .consultation .address .address-text span {
            font-size: 10px; } }

.section__advantages {
  padding-top: 41px;
  margin-bottom: 5px; }
  .section__advantages .custom-container-advantages {
    width: 1300px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (max-width: 1299px) {
      .section__advantages .custom-container-advantages {
        width: 100%; } }
  @media (max-width: 576px) {
    .section__advantages .advantages-content {
      padding-left: 18px;
      padding-right: 18px; } }
  .section__advantages .img-right-block-1 {
    margin-left: 50px; }
    @media (max-width: 576px) {
      .section__advantages .img-right-block-1 {
        margin: 0;
        margin-right: -47px; }
        .section__advantages .img-right-block-1 img {
          width: 202.56px;
          height: 152.2px; } }
  .section__advantages .img-right-block-2 {
    margin-left: 50px; }
    @media (max-width: 576px) {
      .section__advantages .img-right-block-2 {
        margin: 0;
        position: relative;
        z-index: 0;
        margin-right: -113px; }
        .section__advantages .img-right-block-2 img {
          width: 257.77px;
          height: 168.78px; } }
  .section__advantages .left-text-block-2 {
    position: relative;
    z-index: 23; }
  .section__advantages .img-left-block {
    margin-right: 50px; }
    @media (max-width: 576px) {
      .section__advantages .img-left-block {
        margin: 0;
        margin-left: -75px; }
        .section__advantages .img-left-block img {
          width: 197.39px;
          height: 133.06px; } }
  @media (max-width: 1199px) {
    .section__advantages img {
      width: 500px;
      height: 400px; } }
  .section__advantages h2 {
    font-size: 48px;
    line-height: 120%;
    color: #29292b; }
    .section__advantages h2 span {
      color: #18bbeb; }
    @media (max-width: 576px) {
      .section__advantages h2 {
        font-size: 24px;
        line-height: 120%; } }
  .section__advantages h3 {
    width: auto;
    margin-bottom: 11px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(360deg, #ffffff 26.34%, rgba(255, 255, 255, 0) 83.87%), #ededed;
    -webkit-background-clip: text;
    font-weight: 800;
    font-size: 62px; }
    @media (max-width: 576px) {
      .section__advantages h3 {
        font-size: 20px; } }
  .section__advantages h4 {
    font-size: 22px;
    width: auto; }
    @media (max-width: 576px) {
      .section__advantages h4 {
        font-size: 12px; } }

.section__slider {
  width: 100%; }
  .section__slider h2 {
    font-size: 48px;
    line-height: 100%; }
    @media (max-width: 576px) {
      .section__slider h2 {
        font-size: 24px; } }
  .section__slider h4 {
    font-size: 24px;
    line-height: 100%;
    color: #a0a0a0; }
    @media (max-width: 576px) {
      .section__slider h4 {
        font-size: 12px; } }
  .section__slider .owl-item {
    filter: blur(5px); }
  .section__slider .owl-item.active {
    filter: blur(5px);
    transition: all 2s; }
  .section__slider .owl-item.center.active {
    filter: none; }
  .section__slider .owl-item.center.active img {
    transform: scale(1.35);
    transition: all 1s; }
    @media (max-width: 768px) {
      .section__slider .owl-item.center.active img {
        transform: none;
        transition: none; } }
  .section__slider .slider {
    height: 600px;
    width: 702px; }
    @media (max-width: 768px) {
      .section__slider .slider {
        width: 100%;
        margin: 0 auto;
        height: auto; } }
  .section__slider .owl-stage-outer {
    padding-top: 120px;
    height: 100%; }
    @media (max-width: 768px) {
      .section__slider .owl-stage-outer {
        padding-top: 0; } }
  .section__slider .owl-stage {
    height: 100%; }
  .section__slider .slide {
    width: 100%;
    height: 435px; }
    @media (max-width: 992px) {
      .section__slider .slide {
        width: 100%; } }
  .section__slider .right-arrow,
  .section__slider .left-arrow {
    position: absolute;
    top: 50%; }
    @media (max-width: 768px) {
      .section__slider .right-arrow,
      .section__slider .left-arrow {
        top: 35%; } }
  .section__slider .right-arrow {
    transform: rotate(180deg);
    right: -107px; }
    @media (max-width: 768px) {
      .section__slider .right-arrow {
        right: -65px; } }
    @media (max-width: 576px) {
      .section__slider .right-arrow {
        right: -30px;
        width: 40px;
        height: 40px; } }
  .section__slider .left-arrow {
    left: -107px; }
    @media (max-width: 768px) {
      .section__slider .left-arrow {
        left: -65px; } }
    @media (max-width: 576px) {
      .section__slider .left-arrow {
        left: -30px;
        width: 40px;
        height: 40px; } }

.section__questions {
  background: url(../images//questions_backg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 40px;
  padding-bottom: 70px; }
  @media (max-width: 992px) {
    .section__questions {
      padding-top: 20px; } }
  .section__questions h2 {
    font-size: 36px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 10px; }
    @media (max-width: 576px) {
      .section__questions h2 {
        font-size: 20.4235px;
        line-height: 150%;
        margin-bottom: 5px; } }
  .section__questions .first-column-question {
    margin-bottom: 40px; }
    @media (max-width: 576px) {
      .section__questions .first-column-question {
        padding-bottom: 20px;
        margin-bottom: 20px; } }
  .section__questions .question:not(:last-child) {
    margin-bottom: 16px; }
  .section__questions .question {
    background: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 20px 22px;
    position: relative; }
    @media (max-width: 576px) {
      .section__questions .question {
        padding: 10px 12px; } }
    .section__questions .question .collapse,
    .section__questions .question .collapsing {
      padding-right: 53px; }
      @media (max-width: 576px) {
        .section__questions .question .collapse,
        .section__questions .question .collapsing {
          font-size: 9px;
          padding-right: 47px; } }
    .section__questions .question a:hover {
      color: #18bbeb; }
    .section__questions .question a {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 7px;
      text-decoration: none;
      color: #29292b;
      align-items: center; }
      @media (max-width: 576px) {
        .section__questions .question a {
          font-size: 12px; }
          .section__questions .question a img {
            width: 17.02px;
            height: 17.02px; } }
    .section__questions .question a[aria-expanded="true"] {
      color: #0170b0; }
  .section__questions .form-back {
    width: 510px;
    height: 341px;
    position: absolute;
    border-radius: 15px;
    background: rgba(241, 241, 241, 0.5); }
    @media (max-width: 576px) {
      .section__questions .form-back {
        width: 289px;
        height: 199px; } }
  .section__questions .form-back1 {
    top: -10px;
    right: -10px;
    z-index: 0; }
    @media (max-width: 576px) {
      .section__questions .form-back1 {
        top: -6px;
        right: -6px; } }
  .section__questions .form-back2 {
    z-index: 0;
    top: -20px;
    right: -20px; }
    @media (max-width: 576px) {
      .section__questions .form-back2 {
        top: -12px;
        right: -12px; } }
  .section__questions .form-content {
    width: 510px; }
    @media (max-width: 576px) {
      .section__questions .form-content {
        width: 289px; } }
  .section__questions .zelim {
    position: relative;
    top: -20px;
    z-index: 3; }
    @media (max-width: 576px) {
      .section__questions .zelim {
        width: 240.15px;
        height: 124.04px; } }
  .section__questions .form-questions {
    z-index: 2;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    padding-top: 24px;
    padding-left: 47px;
    width: 510px;
    height: 341px; }
    @media (max-width: 576px) {
      .section__questions .form-questions {
        width: 289px;
        height: 199px;
        padding-top: 18px;
        padding-left: 16px;
        padding-bottom: 22px; } }
    .section__questions .form-questions h4 {
      font-size: 24px;
      line-height: 150%;
      color: #29292b; }
      @media (max-width: 576px) {
        .section__questions .form-questions h4 {
          font-size: 16px; } }
    .section__questions .form-questions h6 {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 28px;
      color: #a0a0a0; }
      @media (max-width: 576px) {
        .section__questions .form-questions h6 {
          font-size: 10px;
          margin-bottom: 10px; } }
    .section__questions .form-questions input {
      font-size: 18px;
      line-height: 150%;
      color: #a3a3a3;
      border: none;
      width: 351px;
      border-bottom: 0.5px solid #a0a0a0;
      margin-bottom: 30px; }
      @media (max-width: 576px) {
        .section__questions .form-questions input {
          font-size: 12px;
          width: 200px;
          margin-bottom: 15px; } }
    .section__questions .form-questions img {
      position: absolute;
      bottom: 0;
      right: -50px; }
      @media (max-width: 576px) {
        .section__questions .form-questions img {
          width: 114.03px;
          height: 126.51px;
          right: -10px; } }
    @media (max-width: 576px) {
      .section__questions .form-questions .question-link {
        width: 178px;
        padding: 4px;
        height: 45px; }
        .section__questions .form-questions .question-link .price-link {
          width: 169px;
          font-size: 11.5151px;
          height: 36px; } }

.section__health-steps {
  padding-top: 45px;
  background-image: url(../images/health-steps-back.png);
  background-repeat: no-repeat;
  background-position: 0 112px; }
  @media (max-width: 1750px) {
    .section__health-steps {
      background: none; } }
  @media (max-width: 576px) {
    .section__health-steps {
      padding-top: 35px;
      background-position: right 283px;
      background-repeat: no-repeat;
      background-image: url(../images/steps-back-mobile.png); } }
  .section__health-steps h2 {
    margin-bottom: 3px;
    font-size: 48px; }
    @media (max-width: 576px) {
      .section__health-steps h2 {
        font-size: 24px; } }
  .section__health-steps h6 {
    margin-bottom: 11px;
    color: #a0a0a0;
    font-size: 22px; }
    @media (max-width: 576px) {
      .section__health-steps h6 {
        font-size: 12px; } }
  .section__health-steps span.text-blue {
    margin-bottom: 35px; }
  .section__health-steps .steps {
    position: relative;
    width: 900px;
    background-image: url(../images/Line8.svg);
    background-repeat: no-repeat;
    min-height: 253.22px;
    background-position: 78px 70px;
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .section__health-steps .steps {
        width: 650px; } }
    @media (max-width: 768px) {
      .section__health-steps .steps {
        width: 500px; } }
    @media (max-width: 576px) {
      .section__health-steps .steps {
        width: 320px;
        background-image: url(../images/adaptive-line.svg);
        background-position: 0 0; } }
    .section__health-steps .steps .one-day {
      position: absolute;
      top: 0;
      left: 70px; }
      @media (max-width: 1200px) {
        .section__health-steps .steps .one-day {
          left: 50px; } }
      @media (max-width: 992px) {
        .section__health-steps .steps .one-day {
          width: 313px; } }
      @media (max-width: 576px) {
        .section__health-steps .steps .one-day {
          width: 215px; } }
    .section__health-steps .steps .step-item {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
      line-height: 120%;
      color: #18bbeb; }
      @media (max-width: 1200px) {
        .section__health-steps .steps .step-item {
          font-size: 16px; } }
      @media (max-width: 992px) {
        .section__health-steps .steps .step-item {
          font-size: 14px; } }
      @media (max-width: 768px) {
        .section__health-steps .steps .step-item {
          font-size: 12px; } }
      .section__health-steps .steps .step-item span {
        text-align: center;
        line-height: 120%; }
      .section__health-steps .steps .step-item img {
        margin-bottom: 23px; }
      .section__health-steps .steps .step-item .health-teeth {
        top: -47px;
        left: 85px; }
        @media (max-width: 1200px) {
          .section__health-steps .steps .step-item .health-teeth {
            width: 100px !important;
            height: 120px !important;
            top: -48px;
            left: 55px; } }
        @media (max-width: 768px) {
          .section__health-steps .steps .step-item .health-teeth {
            top: -29px;
            left: 46px; } }
        @media (max-width: 576px) {
          .section__health-steps .steps .step-item .health-teeth {
            width: 54.48px !important;
            height: 78.63px !important; } }
      .section__health-steps .steps .step-item .bad-teeth {
        top: -14px;
        left: 35px; }
        @media (max-width: 1200px) {
          .section__health-steps .steps .step-item .bad-teeth {
            top: -14px;
            left: 10px; } }
        @media (max-width: 768px) {
          .section__health-steps .steps .step-item .bad-teeth {
            left: -1px; } }
        @media (max-width: 576px) {
          .section__health-steps .steps .step-item .bad-teeth {
            left: 18px;
            top: -7px;
            width: 20.04px;
            height: 33.41px !important; } }
    .section__health-steps .steps .step-item:nth-child(1) {
      left: 20px;
      top: 82px; }
      @media (max-width: 576px) {
        .section__health-steps .steps .step-item:nth-child(1) {
          left: 16px;
          top: 45px; }
          .section__health-steps .steps .step-item:nth-child(1) img {
            width: 20px;
            height: 20px;
            margin-bottom: 12px; } }
    .section__health-steps .steps .step-item:nth-child(2) {
      left: 211px;
      top: 52px; }
      @media (max-width: 1200px) {
        .section__health-steps .steps .step-item:nth-child(2) {
          left: 192px;
          top: 52px; } }
      @media (max-width: 992px) {
        .section__health-steps .steps .step-item:nth-child(2) {
          left: 167px;
          top: 52px; } }
      @media (max-width: 768px) {
        .section__health-steps .steps .step-item:nth-child(2) {
          left: 122px;
          top: 59px; } }
      @media (max-width: 576px) {
        .section__health-steps .steps .step-item:nth-child(2) {
          left: 126px;
          top: 28px; }
          .section__health-steps .steps .step-item:nth-child(2) img {
            width: 20px;
            height: 20px;
            margin-bottom: 12px; } }
    .section__health-steps .steps .step-item:nth-child(3) {
      left: 410px;
      top: 84px; }
      @media (max-width: 1200px) {
        .section__health-steps .steps .step-item:nth-child(3) {
          left: 401px;
          top: 77px;
          left: 314px;
          top: 57px; } }
      @media (max-width: 992px) {
        .section__health-steps .steps .step-item:nth-child(3) {
          left: 314px;
          top: 57px; } }
      @media (max-width: 768px) {
        .section__health-steps .steps .step-item:nth-child(3) {
          left: 229px;
          top: 50px; } }
      @media (max-width: 576px) {
        .section__health-steps .steps .step-item:nth-child(3) {
          left: 229px;
          top: 46px; }
          .section__health-steps .steps .step-item:nth-child(3) img {
            width: 20px;
            height: 20px;
            margin-bottom: 12px; } }
    .section__health-steps .steps .step-item:nth-child(4) {
      left: 623px;
      top: 104px; }
      @media (max-width: 1200px) {
        .section__health-steps .steps .step-item:nth-child(4) {
          top: 112px; }
          .section__health-steps .steps .step-item:nth-child(4) img {
            width: 40px;
            height: 40px; } }
      @media (max-width: 992px) {
        .section__health-steps .steps .step-item:nth-child(4) {
          left: 480px;
          top: 85px; } }
      @media (max-width: 768px) {
        .section__health-steps .steps .step-item:nth-child(4) {
          left: 343px;
          top: 58px; } }
      @media (max-width: 576px) {
        .section__health-steps .steps .step-item:nth-child(4) {
          left: 40px;
          top: 170px; }
          .section__health-steps .steps .step-item:nth-child(4) img {
            width: 30px;
            height: 30px;
            margin-bottom: 12px; } }
    .section__health-steps .steps .step-item:nth-child(5) {
      right: -71px;
      top: 62px; }
      @media (max-width: 1200px) {
        .section__health-steps .steps .step-item:nth-child(5) {
          right: -33px;
          top: 82px; }
          .section__health-steps .steps .step-item:nth-child(5) img {
            width: 50px;
            height: 50px; } }
      @media (max-width: 992px) {
        .section__health-steps .steps .step-item:nth-child(5) {
          right: -30px;
          top: 101px; } }
      @media (max-width: 768px) {
        .section__health-steps .steps .step-item:nth-child(5) {
          right: -5px;
          top: 68px; } }
      @media (max-width: 576px) {
        .section__health-steps .steps .step-item:nth-child(5) {
          right: 99px;
          top: 147px; }
          .section__health-steps .steps .step-item:nth-child(5) img {
            width: 40px;
            height: 40px;
            margin-bottom: 12px; } }
  .section__health-steps .doctors-slider-block h2 {
    margin-bottom: 18px; }
  .section__health-steps .doctors-slider-block .left-doctors-block {
    padding-top: 35px; }
    @media (max-width: 1200px) {
      .section__health-steps .doctors-slider-block .left-doctors-block {
        display: flex;
        justify-content: center;
        margin-bottom: 26px; } }
  .section__health-steps .doctors-slider-block .doctors-item.active-hash {
    opacity: 1; }
    .section__health-steps .doctors-slider-block .doctors-item.active-hash div {
      border-radius: 50%;
      border: 3px solid #0082d4;
      position: relative; }
      .section__health-steps .doctors-slider-block .doctors-item.active-hash div img {
        position: absolute;
        top: -9px; }
  .section__health-steps .doctors-slider-block .doctors-item:nth-child(1) img {
    left: -2px; }
  .section__health-steps .doctors-slider-block .doctors-item:nth-child(2) img {
    left: -2px; }
  .section__health-steps .doctors-slider-block .doctors-item:nth-child(3) img {
    left: -4px; }
  .section__health-steps .doctors-slider-block .doctors-item:nth-child(4) img {
    left: -4px; }
  .section__health-steps .doctors-slider-block .doctors-item {
    padding: 13px 0 13px 45px;
    text-decoration: none;
    color: #000000;
    opacity: 0.5; }
    @media (max-width: 1200px) {
      .section__health-steps .doctors-slider-block .doctors-item {
        padding: 0; }
        .section__health-steps .doctors-slider-block .doctors-item div {
          margin-right: 30px !important; } }
    @media (max-width: 576px) {
      .section__health-steps .doctors-slider-block .doctors-item {
        padding: 0; }
        .section__health-steps .doctors-slider-block .doctors-item div {
          margin-right: 12px !important; } }
    .section__health-steps .doctors-slider-block .doctors-item div {
      border: 3px solid transparent;
      position: relative;
      margin-right: 45px;
      width: 67px;
      height: 74px; }
      .section__health-steps .doctors-slider-block .doctors-item div img {
        position: absolute;
        top: -9px; }
  @media (max-width: 1200px) {
    .section__health-steps .doctors-slider-block .doctors-item:last-child div {
      margin-right: 0 !important; } }
  .section__health-steps .doctors-slider-block .arrow-dentist-top {
    transform: rotate(180deg);
    position: absolute;
    left: -280px;
    top: 4px; }
    @media (max-width: 1200px) {
      .section__health-steps .doctors-slider-block .arrow-dentist-top {
        width: 13px;
        height: 33px;
        transform: rotate(180deg);
        top: 130px;
        left: 20px; } }
  .section__health-steps .doctors-slider-block .arrow-dentist-bottom {
    position: absolute;
    left: -280px;
    bottom: 132px; }
    @media (max-width: 1200px) {
      .section__health-steps .doctors-slider-block .arrow-dentist-bottom {
        width: 13px;
        height: 33px;
        right: 0px;
        top: 130px;
        left: initial; } }
  .section__health-steps .doctors-slider-block .doctor-slide img {
    margin-bottom: 38px;
    height: 450px; }
    @media (max-width: 576px) {
      .section__health-steps .doctors-slider-block .doctor-slide img {
        height: 308px; } }
  .section__health-steps .doctors-slider-block .doctor-slide span:nth-of-type(1) {
    font-size: 24px;
    line-height: 120%; }
    @media (max-width: 576px) {
      .section__health-steps .doctors-slider-block .doctor-slide span:nth-of-type(1) {
        font-size: 14px; } }
  .section__health-steps .doctors-slider-block .doctor-slide span:nth-of-type(2) {
    font-size: 18px;
    line-height: 120%; }
    @media (max-width: 1200px) {
      .section__health-steps .doctors-slider-block .doctor-slide span:nth-of-type(2) {
        font-size: 15px;
        margin-bottom: 15px; } }
    @media (max-width: 576px) {
      .section__health-steps .doctors-slider-block .doctor-slide span:nth-of-type(2) {
        font-size: 9px; } }

.section__address h2 {
  font-size: 48px;
  margin-bottom: 3px; }

.section__address h5 {
  font-size: 24px;
  line-height: 100%;
  color: #a0a0a0;
  margin-bottom: 91px; }

.section__address .map {
  position: relative; }

.section__address .map-frame {
  width: 100%;
  height: 660px; }

@media (max-width: 576px) {
  .section__address .price-link-block {
    padding: 5px;
    width: 212px;
    height: 53px; }
    .section__address .price-link-block .price-link {
      width: 200px;
      height: 42px;
      font-size: 14px; } }

.section__address .container-xl {
  height: 100%;
  position: absolute;
  top: 0; }
  @media (max-width: 1200px) {
    .section__address .container-xl {
      position: relative;
      height: 360px; } }
  @media (max-width: 576px) {
    .section__address .container-xl {
      height: 220px; } }

.section__address .card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 412px;
  height: 480px;
  padding: 15px 13px 0 13px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 15px; }
  @media (max-width: 1200px) {
    .section__address .card {
      position: relative;
      top: -120px;
      transform: none; } }
  @media (max-width: 576px) {
    .section__address .card {
      width: 257.5px;
      height: 300px;
      top: -80px;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(6.25px);
      border-radius: 9.375px;
      border: none;
      bottom: -230px; } }

.section__address .card-header {
  margin-bottom: 17px; }

.section__address .card-body span {
  font-size: 14px; }
  @media (max-width: 576px) {
    .section__address .card-body span {
      font-size: 9px; } }

.section__address .card-body h6 {
  font-size: 24px; }
  @media (max-width: 576px) {
    .section__address .card-body h6 {
      font-size: 15px; } }

.section__consultation {
  padding-top: 14px;
  min-height: 534px;
  height: 534px;
  margin-bottom: 51px; }
  @media (max-width: 576px) {
    .section__consultation {
      padding-top: 0;
      height: 615px; } }
  .section__consultation .container-xl {
    height: 100%; }
  .section__consultation .content {
    width: 100%;
    height: 100%;
    background: url(../images/seat.png) no-repeat 100% 0; }
    @media (max-width: 992px) {
      .section__consultation .content {
        background-position: 350px 0; } }
    @media (max-width: 786px) {
      .section__consultation .content {
        background-position: 300px 0; } }
    @media (max-width: 576px) {
      .section__consultation .content {
        background-position: -46px -35px; } }
  .section__consultation h2 {
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 10px;
    padding-top: 65px; }
    @media (max-width: 1200px) {
      .section__consultation h2 {
        padding-top: 150px; } }
    @media (max-width: 576px) {
      .section__consultation h2 {
        padding-top: 240px;
        width: 162px;
        font-size: 24px; } }
  .section__consultation h6 {
    font-size: 18px;
    line-height: 150%;
    color: #a0a0a0; }
    .section__consultation h6 span {
      font-weight: 700; }
    @media (max-width: 576px) {
      .section__consultation h6 {
        width: 162px;
        font-size: 24px;
        width: 129px;
        font-size: 12px; } }
  .section__consultation input {
    font-size: 18px;
    line-height: 150%;
    width: 351px;
    color: #a3a3a3;
    border: none;
    border-bottom: 0.5px solid #a0a0a0;
    background: none;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .section__consultation input {
        font-size: 12px;
        width: 300px;
        margin-bottom: 25px; } }
  @media (max-width: 576px) {
    .section__consultation .price-link-block {
      width: 237px;
      height: 60px;
      padding: 6px; } }
  @media (max-width: 576px) {
    .section__consultation .price-link-block .price-link {
      width: 227px;
      height: 47px;
      font-weight: bold;
      font-size: 15.3333px; } }

.section__footer {
  background: #0170b0;
  padding-top: 40px;
  padding-bottom: 63px; }
  @media (max-width: 575px) {
    .section__footer {
      padding-bottom: 30px; } }
  .section__footer a {
    color: #8be5ff;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none; }
  .section__footer .main-link {
    font-size: 24px; }
  .section__footer .col-auto:first-child a,
  .section__footer .col-auto:last-child a {
    font-size: 14px;
    text-decoration: underline; }
  .section__footer .footer-logo {
    margin-bottom: 20px; }
  .section__footer .footer-call {
    font-weight: bold;
    font-size: 23.8235px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 15px; }
  .section__footer .footer-mobile-confidence {
    font-size: 10px;
    margin-bottom: 15px; }
  .section__footer .footer-mobile-logo {
    width: 174.94px;
    height: 65px;
    margin-bottom: 10px; }
  @media (max-width: 575px) {
    .section__footer .footer-agency {
      font-size: 12px; } }
  .section__footer .footer-socials {
    display: flex; }
    @media (max-width: 575px) {
      .section__footer .footer-socials {
        margin-bottom: 20px; } }
    .section__footer .footer-socials a {
      width: 30px;
      height: 30px; }
      .section__footer .footer-socials a img {
        width: 100%;
        height: 100%; }
      @media (max-width: 575px) {
        .section__footer .footer-socials a {
          width: 57px;
          height: 57px; } }
    .section__footer .footer-socials a:not(:last-child) {
      margin-right: 12px; }
      @media (max-width: 576px) {
        .section__footer .footer-socials a:not(:last-child) {
          margin-right: 22px; } }
